body {
  color: $green-txt;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline }
  &:visited, &:active, &:link { color: initial }
}

hr {
  border-bottom: 1px solid $green-txt;
  border-style: solid;
  margin: 0;
}

input, select {
  @include rounded-corners(5px);
  border: 1px solid $green-txt;
  padding: 7px;
  margin-bottom: 10px;
  font-size: 15px;
}

select { margin: 6px 0 }

small { font-size: 10px }

.btn {
  @include rounded-corners(5px);
  border: 1px solid $green-txt;
  background-color: $green-bg;
  margin: 0;
  padding: 5px 10px;

  &:hover { cursor: pointer }
}

.clearfix {
  clear: both;
  margin: 0;
  padding: 0;
}

.succeeded-purchase {
  margin: 0 auto;
  max-width: 300px;

  p { text-align: center }

  ul li b{
    display: inline-block;
    width: 80px;
  }
}

.wrapper {
  margin: 0 auto;
  width: 960px;
  min-height: 100%;
  main {
    overflow: hidden;
    padding-bottom: 48px;
  }
}

